form {
    font-size: 1.2rem;
}

form label {
    display: block;
    width: 50%;
    margin: 0 auto;
}

input,
textarea, input:focus,
textarea:focus {
    width: 100%;
    padding: 1rem;
    color: var(--black);
    border: none;
    background-color: rgba(0,0,0,0.1);
    box-shadow: none;
    cursor: pointer;
    margin: 1rem 0 2rem;
}

textarea {
    resize: none;
}

#contact button {
    border-style: none;
    background-color: var(--black);
    color: white;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: background-color .3s ease;
}

#contact button:hover {
    background-color: var(--secondary-dark);
}

